// change the theme
$theme-colors: (
  'primary': black,
  'danger': #ff4136,
);

@import '~bootstrap/scss/bootstrap';

.white-font {
  color: white;
}

.text-align-center {
  text-align: center;
}

.main-app-container {
  padding: 0;
}
